      
    <!-- <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <p class="grey-text text-lighten-4">Add site info here</p>
          </div>
          <div class="col l7 offset-l1 s12">
            <ul class="footer-list">
              <li><a class="grey-text text-lighten-3" href="/trips">Saved Trips</a></li>
              <li><a class="grey-text text-lighten-3" href="/trips/new">New Trip</a></li>
              <li><a class="grey-text text-lighten-3" href="/auth/signup">Sign Up</a></li>
              <li><a class="grey-text text-lighten-3" href="/auth/logout">Log Out</a></li>
              <li><a class="grey-text text-lighten-3" href="/profile">Profile</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          &copy; 2018 Genevieve Schultz
        </div>
      </div>
    </footer> -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>