<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Planner</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="/profile" class="brand-logo">Travel Planner</a>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/trips">Saved Trips</a></li>
            <li><a href="/trips/new">New Trip</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
            <li><a href="/profile"><i class="material-icons right">person</i>Profile</a></li>
          </ul>
        </div>
      </nav>
      <ul id="mobile-menu" class="sidenav">
        <li><a href="/trips">Saved Trips</a></li>
        <li><a href="/trips/new">New Trip</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </header>
    <!--<%- JSON.stringify(currentUser) %>-->    
    <% include alerts %>
    <main>
      <div class="container">