<% include ../partials/header.ejs %>
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m5 form">
        <form class="edit-form" action="/trips/<%= trip.name %>" method="POST">
          <div class="input-field">
            <label for="tripName">Name</label>
            <input id="tripName" class="form-control" type="text" value="<%= trip.name %>" name="name">
          </div>
          <br/>
          <div>
            <label for="startDate" class="start-date">Start Date: </label>
            <input id="startDate" class="datepicker input-field" type="datepicker" value="<%= trip.startDate %>" name="startDate">
            <br>
            <label for="endDate" class="end-date">End Date: </label>
            <input id="endDate" class="datepicker input-field" type="datepicker" value="<%= trip.endDate %>" name="endDate">
          </div>
          <br/>
          <button class="btn purple" type="submit"><i class="material-icons right"></i>Update Trip</button>
        </form>
      </div>
      <div class="col s12 offset-m1 m5">
        <div class="options-box">
          <h3>Find More Locations for Your Trip!</h3>
          <div>
            <input id="zoom-to-area-text" type="text" placeholder="Enter your favorite area!"/>
            <input id="zoom-to-area" class="btn" type="button" value="Zoom"/>
          </div>
          <hr>
          <div>
            <span class="text">Search for nearby places</span>
            <input id="places-search" type="text" placeholder="Ex: Eiffel Tower"/>
            <input id="go-places" class="btn" type="button" value="Go"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div id="map"></div>
      </div>
    </div>
  </div>
</main>
<% include ../partials/footer.ejs %>