<% include ../partials/header.ejs %>
<main>
  <div class="container">
    <h2>Saved Trips</h2>

    <ul>
      <% trips.forEach(function(trip) { %>
        <li><a href="/trips/<%=trip.id%>">
        <%= trip.name %>
        </a><a href="/trips/<%=trip.id%>" class="btn waves-effect red lighten-1 delete">DELETE TRIP</a></li>
      <% }); %>
    </ul>
  </div>
</main>

<% include ../partials/footer.ejs %>